/* fonts
font-family: 'Josefin Sans', sans-serif;
font-family: 'Playfair Display SC', serif; 
colors
gray - #3f3f47
orange - #b63700 
*/

/* General rules */

body {
    margin: 0;
}

h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 2em;
    margin: 0;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    margin: 0;
}

/* Nav Rules */

.navbar {
    width: 100%;
    height: 75px;
    background-color: #3f3f47;
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: flex-end;
    transition: height 200ms linear;
}

.navbar.scroll-down {
    height: 0;
}

.navbar > object {
    height: 80%;
    fill: white;
    position: absolute;
    top: 5px;
    left: 10px;

}

.topnav a {
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    display: inline-block;
    margin: 0 20px;
}

.topnav a:hover {
    opacity: .7;
}

.topnav {
    margin: 30px 20px;
    visibility: visible;
}

.topnav .icon {
    display: none;
  }

/* Main rules */
/* Top section */

#logo {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 250px;
}

.logo > object {
    height: 100%;
}

#main-image {
    background-image: url(./images/main-img.jpg);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 40%;
    position: relative;
    margin-top: 20px;
}

#beacon {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    display: none;
    z-index: 2;
}

.main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 20px 1fr;
}

.side-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-column-start: 3;
    margin-right: 20px;
    z-index: 3;
}

.textbox-5 {
    display: none;
}

.textbox-1 {
    background-color: white;
    margin: 10px 0;
}

.textbox-1 > h1 {
    padding: 10px;
}

.orange-text, a.active {
    color: #b63700;
}

.textbox-2 {
    background-color: #3f3f47;
    padding: 10px;
    color: white;
    margin: 10px 0;
}

.textbox-3  h2 {
    line-height: 1.2em;
}

.textbox-3 {
    background-color: #3f3f47;
    color: white;
    padding: 10px;
    margin: 10px 0;
    display: none;
    font-size: 1em;
    width: 90%;
}

.textbox-4 {
    background-color: #3f3f47;
    color: white;
    padding: 10px;
    margin: 0 0 20px;
    display: none;
    font-size: 1em;
    width: 100%;
    text-align: center;
}



.button {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    background-color: #b63700;
    color: white;
    padding: 20px;
    margin: 20px 0;
}

/* bottom section */

.second-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;;
    width: 90%;
}

.image-box {
    display: inherit;
    flex-direction: column;
    align-items: center;
    margin: 40px 20px;
}

.image-box img {
    filter: grayscale(100);
    border: 2px solid black;
    opacity: .8;
    width: 100%
}

.image-box img:hover {
    opacity: 1;
}

/* footer section */

.footer-box {
    color: white;
    width: 100%;
    height: 100px;
    background-color: #3f3f47;
    margin: 0;
    position: relative;
    /* bottom: 40; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.small-text {
    position: absolute;
    left: 20px;
    margin-top: 35px;
}

.social-media {
    height: 50px;
    margin-right: 20px;
}

.social-media img{
    height: 100%;
    margin: 0 20px;
}

.social-media img:hover {
    opacity: .7;
}

@media (max-width: 1045px) {
    .main-container {
        grid-template-columns: 1fr 20px 1.5fr;
    }
    .second-container {
        flex-wrap: wrap;
    }
    .image-box {
        margin-bottom: 20px;
    }
    #main-image {
        margin-bottom: 20px;
    }
    .textbox-1 > h1 {
        font-size: 1.5em;
    }
    .textbox-2 {
        display: none;
    }
    .textbox-3 {
        display: block;
        min-width: 350px;
    }
    .button {
        padding: 15px;
    }
}


@media screen and (max-width: 699px) {
    .topnav a {display: none;}
    .topnav a.icon {
        /* float: right; */
        display: block;
      }
    
}
@media screen and (max-width: 699px) {
    .topnav.responsive {
        position: relative;
        margin: 10px 20px;
    }
    .topnav.responsive a.icon {
        /* position: absolute; */
        right: 0;
        top: 0;
  }
  .topnav.responsive a {
    display: block;
    text-align: right;
    margin: 5px 0;
  }
  .navbar.responsive {
      height: 200px;
  }
  .navbar.responsive.scroll-down {
      height: 0
  }
  .navbar > object {
      max-height: 60px;
  }
}



@media (max-width: 699px) {
        #main-image {
        margin-bottom: 0;
        margin-top: 0;
    }
    .main-container {
        grid-template-columns: 3fr 20px 1fr;
        align-items: flex-end;
    }
    .logo {
        margin-bottom: 30px;;
    }
    .textbox-1 {
        display: none;
    }
    .textbox-3 {
        display: none;
    }

    .textbox-4 {
        display: block;
    }
    .textbox-5 {
        width: 100%;
        margin-bottom: 0;
        text-align: center;
        font-size: .8em;
        margin: 0;
        padding: 0;
        border-top: 2px solid #3f3f47;
        display: block;
    }
    .textbox-5 > h1 {
        padding-bottom: 5px;
        margin: 0;
    }
    .button {
        font-size: 1.25em;
    }
    .footer-box {
        position: absolute;
        left: 0;
        bottom: 80;
        justify-content: center;
        height: 80px;
    }
    .social-media{
        margin-top: -25px;
        height: 35px;
    }
    .small-text {
        position: initial;
        display: block;
        text-align: center;
        font-size: .75em;
        margin-top: 10px;
    }
}