/* fonts
font-family: 'Josefin Sans', sans-serif;
font-family: 'Playfair Display SC', serif; 
colors
gray - #3f3f47
orange - #b63700 
*/



h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.75em;
    margin: 0;
}

/* body {
    background-image: url(./background-shop-square2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-y;
} */

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 
.top-cover {
    width: 100%;
    height: 150px;
    background: white;
} */
.container {
    margin: 150px 0;
    width: 100%;
    height: auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > h1 {
    margin-top: 20px;
    font-size: 4em;
    padding: 5px 20px 10px;
    background: #3f3f47;
    color: white;
}

.ask-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 40px;
    width: 100%;
    height: auto;
}

.ask-me > img {
    width: 400px;
    margin: 10px 0 10px;
}

#form-body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: fit-content;
    margin: 0 0 40px;
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(to left, rgba(0,0,0,.9), rgba(255, 255, 255, 0)), url(./background-shop-thin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;

    /* background: darkseagreen; */

}

.form-section {
    
    margin: 0 40px;
    width: 600px;
    display: flex;
    justify-content: center;
}

.form-box-1 {
    width: 100%;
    padding: 30px;
    margin: 20px 20px 0;
}

.form-box-1 > h3 {
    text-align: center;
    color: white;
    text-shadow: 0 0 8px black;
    font-family: 'Playfair Display SC', serif; 
    margin: 20px 0 20px 0;
}

input, textarea {
    color: #4a4e54;
    
}

input::placeholder {
    font-size: .8em;
    opacity: .6;
}

textarea::placeholder {
    font-size: 1.25em;
    opacity: .6;
}

input[type="text"], input[type="email"] {
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 20px;
    border: none;
}

input[type="text"]:hover, input[type="email"]:hover, textarea:hover, input[type="checkbox"]:hover, input[type="radio"]:hover{
    outline: 2px solid #b63700;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus{
    outline: 2px solid #b63700;
}

textarea {
    width: 100%;
    height: 150px;
    resize: none;
    border: none;
    margin-bottom: 20px;
}

#other_ans {
    margin-top: 10px;
    height: 20px;
    width: 80%
}

.contact-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.29em;
    text-align: center;
    color: white;
    text-shadow: 0 0 8px black;
}

.question {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.type-contact {
    margin: 0 10px;
}


.check {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.check-item {
    margin: 0 15px;
}

.birthday {
    margin-top: 10px;
}

.hi-5 {
    margin: 15px 0 0;
}
.submit-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="submit"] {
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px 20px 15px;
    margin: 20px 0 0 0;
    color:white;
    font-size: 2em;
    text-decoration: none;
    font-weight: 700;
    background: #b63700;
    border: none;
}

input[type="reset"] {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.125em;
    margin: 10px 0 20px 0;
    color: white;
    text-shadow: 0 0 8px black;
    background: none;
    text-shadow: 0 0 8px black;
    border: none;
}

input[type="submit"]:hover {
    background: #ce5521;
    cursor: pointer;
}

input[type="reset"]:hover {
    opacity: .7;
    cursor: pointer;
}

/* @media rules */

@media (max-width: 1045px) {
    /* .form-box-1 {
        width: 550px;
    } */
    .ask-me > img {
        width: 525px;
    }
}

@media (max-width: 699px) {
    .container > h1 {
        font-size: 2.5em;
    }
    #form-body {
        width: 100%;
        height: 1150px;
        background-image: linear-gradient(to bottom, rgba(0,0,0,.9), rgba(255, 255, 255, 0)), url(./background-shop-thin.jpg);
        align-items: center;
        background-position: center;
    }
    .form-box-1 {
        width: 290px;
    }
    .ask-me > img {
        width: 290px;
    }
    .ask-me > h3 {
        font-size: 1.5em;
    }
    .form-box-1 h3 {
        font-size: 1.25em;
    }
}