/* fonts
font-family: 'Josefin Sans', sans-serif;
font-family: 'Playfair Display SC', serif; 
colors
gray - #3f3f47
orange - #b63700 
*/
#logo {
    height: 150px;
}
.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline-box {
    margin: 40px 0;
    background-color: #3f3f47;
    padding: 10px;
    color: white;
}

.about-container {
    width: 80%;
    max-width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 40px;
}

.about-image-container {
    width: 100%;
    min-width: 325px;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid #3f3f47;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-image {
    filter: grayscale(100);
    
}

.article-box {
    width: 600px;
    text-align: center;
}

.article-box > h3 {
    padding: 15px 10px 10px;
    background-color: #3f3f47;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

article {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 40px;
}

@media (max-width: 699px) {
    .about-image-container, .about-image{
        height: 350px;
    }
    .article-box {
        width: 325px
    }
}