/* fonts
font-family: 'Josefin Sans', sans-serif;
font-family: 'Playfair Display SC', serif; 
colors
gray - #3f3f47
orange - #b63700 
*/

#logo {
    height: 150px;
    margin-bottom: 40px;
}

main {
    width: 100%;
    height: auto;
}


.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline-box {
    margin: 40px 0;
    background-color: #3f3f47;
    padding: 10px;
    color: white;
    margin: 0 auto 40px;
}

.blog-list-container {
    width: 1000px;
    height: auto;
    display: grid;
    grid-template-rows: repeat(3, 300px);
    justify-content: center;
}

.blog-item {
    height: 300px;
    display: grid;
    grid-template-columns: 300px 40px 1fr;
    align-items: center;
}

.blog-image-box {
    display: block;
    grid-column-start: 1;
    height: auto;
    width: 297px;
    margin: 0;
}

.blog-image-box > img {
    filter: grayscale(100);
    border: 2px solid black;
    opacity: .8;
    width: 100%;
    border-radius: 20px;
}

.blog-summary {
    grid-column-start: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.blog-title {
    background-color: #3f3f47;
    padding: 10px 20px 5px;
    color: white;
    margin: 10px 0;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.blog-summary article {
    font-size: 1.25em;
}

.textbox-2 > h2 {
    font-size: 2em;
}

.button {
    font-size: 1em;
    padding: 15px 15px 10px;
}

.blog-container {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline-image > img{
    width: 600px;
    filter: grayscale(100);
    border-radius: 20px;
    margin-bottom: 40px;
}

.blog-article {
    font-size: 1.35em;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.subscribe-box {
    width: 530px;
    height: auto;
    background: #3f3f47;
    padding: 10px 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.subscribe-box > h3 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin: 5px 0 15px;
}

.email-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

input[type="email"] {
    width: 75%;
    height: 35px;
    font-size: 1.5em;
    margin: 0;
}

input[type="submit"] {
    background-color: #b63700;
    border: none;
    color: white;
    padding: 10px;
    margin: 0 20px 0;
}

input[type="submit"]:hover {
    cursor: pointer;
    background: #ce5521;
}

@media (max-width: 1024px) {
    .blog-list-container {
        width: 700px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 600px);
    }
    .blog-item {
        height: 600px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 40px 1fr;
        justify-content: center;
    }
    .blog-image-box {
        grid-row-start: 1;
        width: 400px;
        margin: 0 auto;
    }
    .blog-summary {
        grid-column-start: 1;
        grid-row-start: 3;
    }
    .blog-container {
        width: 700px;
    }
    
}

@media (max-width: 699px) {
    .blog-list-container {
        width: 290px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 675px);
        margin-bottom: 40px;
    }
    .blog-list-container {
        width: 280px;
    }
    .blog-title {
        font-size: 1.125em;
    }
    .subscribe-box {
        width: 280px;
        text-align: center;
    }
    
    .subscribe-box > h3 {
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        margin: 5px 0 15px;
    }
    .blog-image-box {
        margin: 0;
    }
    .blog-container {
        width: 280px;
    }
    .headline-box {
        width: 290px;
        text-align: center;
        margin: 40px 0;
        background-color: #3f3f47;
        padding: 10px;
        color: white;
        margin: 0 auto 40px;
    }
    .headline-image > img{
        width: 280px;
        filter: grayscale(100);
        border-radius: 20px;
        margin-bottom: 40px;
    }
    .blog-article{
        text-align: left;
    }
    .email-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    input[type="email"] {
        width: 98%;
        height: 35px;
        font-size: 1.5em;
        margin: 0 0 20px;
    }
    
    input[type="submit"] {
        background-color: #b63700;
        border: none;
        color: white;
        padding: 10px;
        margin: 0 20px 0;
    }
    
    input[type="submit"]:hover {
        cursor: pointer;
        background: #ce5521;
    }
}